@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.linkcheio {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: center;
    position: fixed;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #007bff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Pixelify Sans';
    margin-top: 10px;
}



html,
body {
    align-items: center;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(161, 87, 30), rgb(78, 38, 7));
}

html{
    border: 6px solid #cb6b2b;
    box-sizing: border-box;
}


h1 {
    margin: 0;
    padding: 50px;
    text-align: center;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkcheio {
    display: center;
    position: fixed;
    text-align: center;
    justify-content: center;
    margin-right: 10px;
    text-decoration: none;
    padding: 12px 20px;
    background: #d28a5b;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border: 5px solid #f3a16b;
    z-index: 6;
}

#xalala {
    text-decoration: none;
    padding: 12px 20px;
    background: #c67138;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    margin-top: 90px;
    border: 5px solid #f08a46;
}

#logo {
    width: 350px;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: transform 0.5s ease;
    z-index: 8;
}

#logo:hover{
    transform: scale(1.1);
}

#clarisse {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    z-index: 3;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.561));
}

#machado {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 400px;
    z-index: 3;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.579));
}

#copyright {
    color: white;
    font-family: 'Pixelify Sans';
    position: fixed;
    display: flex;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    font-size: 12px;
}

#machadonome {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    color: white;
    z-index: 5;
    margin-left: 110px;
    font-family: 'Pixelify Sans';
    text-align: center;
    background: linear-gradient(to bottom, rgb(112, 49, 2), rgb(101, 52, 14));
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    border: 6px solid #502002;
}

#clarissenome {
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    color: white;
    z-index: 5;
    margin-right: 110px;
    font-family: 'Pixelify Sans';
    text-align: center;
    background: linear-gradient(to bottom, rgb(112, 49, 2), rgb(101, 52, 14));
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    font-weight: bolder;
    border: 6px solid #502002;
}

#autores{
    margin: 0;
}


.linkcheio:hover {
    background-color: #f3a16b;
}

#xalala:hover {
    background-color: #f08a46;
    cursor: pointer;
}

#popup {
    background-color: whitesmoke;
    font-size: 40px;
    margin: 100px;
    font-family: 'Pixelify Sans';
    border-radius: 20px;
    border: none;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    color: #502002;
}




